{
 :paths ["src"]

 :deps {org.clojure/data.json {:mvn/version "1.0.0"}}

 :aliases {
           :dev {
                 :extra-deps {org.clojure/tools.namespace          {:mvn/version "0.2.11"}
                              org.clojure/test.check               {:mvn/version "0.10.0-alpha4"}
                              io.aviso/pretty                      {:mvn/version "0.1.34"}
                              ns-tracker                           {:mvn/version "0.4.0"}
                              spyscope                             {:mvn/version "0.1.6"}
                              fipp                                 {:mvn/version "0.6.12"}
                              cljfmt                               {:mvn/version "0.6.4"}}
                 :extra-paths ["test"]
                 :jvm-opts ["-Dclojure.spec.compile-asserts=true"]}

           :test {
                  :extra-paths ["test"]
                  :extra-deps {org.clojure/test.check               {:mvn/version "0.10.0-alpha4"}}
                  :jvm-opts  ["-Xmx512m"]}

           :pack {
                  :extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                :sha "c70740ffc10805f34836da2160fa1899601fac02"}}}}}
